{% include "header.html" %}
<header class="masthead text-center text-white" id="contact-header">
        <div >
            <div class="container" style="padding-top: 3%; text-align: left">
                <h1 class="masthead-heading mb-0">Contact</h1>
                <h2 class="masthead-subheading mb-0">Any suggestions?</h2>
            </div>
        </div>
    </header>
<body>
<section class="contact-form" style="background-color: whitesmoke; height: available;">
    <div class="container" id="form-container">
        <div class="">
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input name="username" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Username">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput2">Email address</label>
    <input name="mail" type="text" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Subject</label>
    <select name="subject" class="form-control" id="exampleFormControlSelect1">
      <option>Suggestion</option>
      <option>Question about the app</option>
      <option>I had a problem</option>
      <option>Just wanted to say hi!</option>
      <option>Other</option>
    </select>
  </div>
  <div  class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
        </div>
    </div>
    </section>
<section></section>
</body>
{% include "footer.html" %}